@CHARSET "ISO-8859-1";

@font-face {
	font-family: LaurenScript Regular;
	src: url('../fonts/LAURENSCRIPT.ttf');
}

body {
	background-color: black;
	color: white;
	height: 100%;
}

.title {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 250px;
}


#j {
	font-family: LaurenScript Regular;
	font-size: 250px;
}

#name {
	text-align: left;
}