@CHARSET "ISO-8859-1";

@
font-face {
	font-family: LaurenScript Regular;
	src: url('../fonts/LAURENSCRIPT.ttf');
}

body {
	background-color: black;
	color: white;
	height: 100%;
}

.title {
	text-align: center;
}

#j {
	font-family: LaurenScript Regular;
	text-align: center;
	font-size: 500%;
}

#name {
	text-align: left;
}